.App {
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AppWrapper {
  width: 1920px;
  height: 1080px;
  border-radius: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AppTitle {
  font-size: 50px;
  color: #2d3dce;
}
.NotData {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}
