.DetailWrapper {
  width: 1920px;
  height: 65%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.DetailSpace {
  padding: 20px;
}
.DetailDate {
  font-size: 40px;
  font-weight: 500;
}
.DetailContent {
  margin: 20px 0px;
  font-size: 30px;
  display: flex;
}
.DetailContent > div {
  margin: 0px 10px;
}
